<script>
  /**
   * @typedef {Object} WfData
   * @property {Object} baro
   * @property {string} baro.time
   * @property {string} baro.relay
   * @property {Object} cetus
   * @property {string} cetus.state
   * @property {string} cetus.timeLeft
   * @property {Object} fortuna
   * @property {string} fortuna.state
   * @property {string} fortuna.timeLeft
   * @property {Object} deimos
   * @property {string} deimos.state
   * @property {string} deimos.timeLeft
   */

  function refresh() {
    const url = "/api/warframe";
    fetch(url)
      .then((res) => res.json())
      .then((json) => update(json))
      .catch(console.error);
  }

  /**
   * @param {WfData} data
   */
  function update(data) {
    let baroDay = document.getElementById("baro-day");
    let baroRelay = document.getElementById("baro-relay");
    baroDay.innerText = data.baro.time;
    baroRelay.innerText = data.baro.relay;

    let cetus = document.getElementById("cetus");
    cetus.innerText = `${data.cetus.state} ends in ${data.cetus.timeLeft}`;
    let fortuna = document.getElementById("fortuna");
    fortuna.innerText = `${data.fortuna.state} ends in ${data.fortuna.timeLeft}`;
    let deimos = document.getElementById("deimos");
    deimos.innerText = `${data.deimos.state} ends in ${data.deimos.timeLeft}`;
  }

  /**
   * @param {Guide} data
   */
  function updateGuides(data) { }

  /**
   * @param {string} endpoint
   */
  function hypeEvent(endpoint) { }

  // call only once
  refresh();
</script>

<main class="container">
  <h1 class="my-4">Welcome
    <? echo @$_SESSION['username'] ?? 'Tenno'; ?>
  </h1>
  <div class="container">
    <div class="d-flex flex-row gap-3 align-items-center">
      <h3 class="my-3">World time</h3>
      <button type="button" class="btn btn-outline-light"
        title="The world time is updated once every 5~ minutes due to technical reasons" onclick="refresh()">
        Refresh
      </button>
    </div>
    <div class="row gap-3">
      <div class="card col my-2" style="min-width: 20rem; min-height: 8rem">
        <div class="card-body">
          <h5 class="card-title">⏰Plains of Eidolon (Cetus)</h5>
          <p id="cetus" class="card-text">Loading... needs JS enabled</p>
        </div>
      </div>
      <div class="card col my-2" style="min-width: 20rem; min-height: 8rem">
        <div class="card-body">
          <h5 class="card-title">⏰Orb Vallis (Fortuna)</h5>
          <p id="fortuna" class="card-text">Loading... needs JS enabled</p>
        </div>
      </div>
      <div class="card col my-2" style="min-width: 20rem; min-height: 8rem">
        <div class="card-body">
          <h5 class="card-title">⏰Cambion Drift (Deimos)</h5>
          <p id="deimos" class="card-text">Loading... needs JS enabled</p>
        </div>
      </div>
    </div>
    <h3 class="my-3">Baro event</h3>
    <div class="row gap-3">
      <div class="card col my-2" style="min-width: 20rem; min-height: 8rem">
        <div class="card-body">
          <h5 class="card-title">Baro Ki'Teer (Void trader)</h5>
          <p class="card-text mb-0" id="baro-day">Loading data...</p>
          <p class="card-text" id="baro-relay">JS needs to be enabled</p>
          <!-- <button class="btn btn-primary">Hype this event</button> -->
        </div>
      </div>
    </div>
  </div>
</main>
