<script>
let url = "/api/warframe";
</script>

<main class="container">
    <h1 class="my-4">Welcome Tenno</h1>

    <div class="container">
        <h3 class="my-3">World time</h3>
        <div class="row gap-3">
            <div class="card col my-2" style="min-width: 20rem; min-height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">⏰Plains of Eidolon (Cetus)</h5>
                    <p class="card-text">00:00:00</p>
                </div>
            </div>
            <div class="card col my-2" style="min-width: 20rem; min-height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">⏰Orb Vallis (Fortuna)</h5>
                    <p class="card-text">00:00:00</p>
                </div>
            </div>
            <div class="card col my-2" style="min-width: 20rem; min-height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">⏰Cambion Drift (Deimos)</h5>
                    <p class="card-text">00:00:00</p>
                </div>
            </div>
        </div>
        <h3 class="my-3">Other events</h3>
        <div class="row gap-3">
            <div class="card col my-2" style="min-width: 20rem; min-height: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">Baro Ki'Teer (Void trader)</h5>
                    <p class="card-text">
                        00:00:00<br>
                        Cambria relay
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
